.card {
    width: 350px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: 68px auto 30px;
}

.card-text {
    margin: 16px 0 0;
}

.card-text p{
    font-size: 14px;
    text-align: center;
    color: #000000;
}