.contact-form {
    margin-top: 91px;
}

.contact-form-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
    flex-wrap: wrap;
}

.contact-form-item input {
    outline: none;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    background: transparent;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
}

.contact-form-item label {
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.contact-form-item {
    width: 478px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.contact-form-textarea {
    display: flex;
    flex-direction: column;
}

.contact-form-textarea label {
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

#message {
    width: 478px;
    height: 201px;
    resize: none;
    border: 0;
    border-bottom:  1px solid #BDBDBD;
    outline: none;
    background: transparent;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
}

.contact-form-btn {
    width: 166px;
    border: 0;
    background: #EC7979;
    font-size: 15px;
    font-weight: 600;
    line-height: 42px;
    color: #fff;
    display: block;
    margin: 0 auto;
}