.customers-wrap {
    justify-content: space-evenly;
}

.customer-card {
    margin: 0 15px;
    width: 298px;
}

.customer-text {
    
    background: #E2E2E2;
    border-radius: 7px;
    padding: 9px 23px;
    margin-bottom: 22px;
    position: relative;
}

.customer-text::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    border-top: 15px solid #E2E2E2;
    position: absolute;
    left: 40px;
    top: 100%;
}

.customer-text p {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    text-align: center;
}

.customer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.customer-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.customer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.customer-name {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 12px;
}

.customer-post {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}