.footer {
    background: #000;
    padding: 30px 0 15px;
    text-align: center;
}

.footer-icons {
    color: #cccccc;
    font-size: 23px;
    margin-bottom: 18px;
}

.footer-icons i {
    margin-left: 40px;
}

.footer-icons i:first-child {
    margin-left: 0;
}

.copyright {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}