.header {
    background: #000;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.logo::after {
    content: "IT";
    color: #EC7979;
}

.menu-list {
    display: flex;
}

.menu-list li {
    margin-left: 48px;
}

.menu-list li:first-child {
    margin-left: 0;
}

.menu-list a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 600;
}

.menu-list a:hover {
    border-bottom: 3px solid #E72424;
}